{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

</div>
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Task: {{ task.title }} </h2>
                    <h2 class="card-text">Description: {{ task.description }}</h2>
                    <div class="d-flex justify-content-between align-items-center mt-3">

                        {% if request.user == task.team.owner %}
                        <form action="{% url 'task_delete' task.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        
                        <a href="{% url "task_update" task.id %}?next='index'" class="btn btn-primary btn-sm mr-2">Edit</a>

                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}